{% extends "layout/frontend.html" %}

{% block container %}
    <div id="index">
        <div class="panel panel-default">
            <div class="panel-heading">Account</div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="username">Username</label>
                        <input type="username" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="auth_method">Auth Method</label>
                        <select class="form-control" id="auth_method" name="auth_method">
                            <option value="ptc">Pokemon Trainer Club</option>
                            <option value="google">Google Account</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Check</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
