<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Poidv</title>
<link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Roboto+Slab:100">
<link rel="stylesheet" type='text/css' href="{{ base_url() }}/assets/client/css/app.css">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top navbar-app" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Poidv</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="nav-link" href="/">
                            <i class="fa fa-home fa-lg" aria-hidden="true"></i> Home
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        {% block container %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
